openapi: 3.0.2
info:
  version: 1.0.0
  title: INTERVAL API
  # termsOfService: 'https://example.com/terms/'
  contact: 
    name: 'Author'
    email: author@intervalproject.eu
    url: 'https://intervalproject.eu/'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  x-logo:
    url: 'https://github.com/futaoo/INTERVAL-API/blob/main/resources/logo.png?raw=true'
  description: >
    A RESTful API for INTERVAL Tree Inventory.

    # Introduction

    [INTERVAL](https://intervalproject.eu/) is an **INTEgrated stReet tree VALuation** based solution for minimizing the uneven street tree distribution in Cities. INTERVAL aims to develop an ecosystem service-based integrated decision support system to increase the street tree density in Dublin city and to promote climate neutrality and minimise environmental injustice that originates due to the inequality of street tree distribution across the geographical spaces in Dublin city.

    # Welcome to the INTERVAL API

    INTERVAL was founded on principles of openness, sharing, and community. It is to strengthen these principles and ensure the success of our entire community that we put together updated terms of service, data license, and data attribution requirements when using INTERVAL data and this API.

    # Basic Principles

    Providing a way to programmatically interact with INTERVAL data, the INTERVAL Tree Inventory API is based on REST principles employing the following HTTP methods:<br><br><span style="color:#FF69B4">GET</span> : Returns information.<br><br><span style="color:#FF69B4">POST</span> : Creates entries.<br><br><span style="color:#FF69B4">PUT</span> : Updates entries.<br><br><span style="color:#FF69B4">DELETE</span> : Deletes entries. 
tags:
  - name: Map
    description: Show the default map and initialize the trees' information
  - name: Tree
    description: Operations about tree
servers:
  - url: 'http://interval.com/api/v1'
  - url: 'https://interval.com/api/v1'
paths:
  '/trees/{treeid}':
    $ref: 'paths/trees@{treeid}.yaml'
  /map:
    $ref: paths/map.yaml
components:
  securitySchemes:
    main_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: 'http://interval.com/api/oauth/dialog'
          scopes:
            'read:users': read users info
            'write:users': modify or remove users
    api_key:
      type: apiKey
      in: header
      name: api_key
    basic_auth:
      type: http
      scheme: basic
